@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root {
    /* colors are changeable always more combinations are in "https://coolors.co/" */
    --white: hsl(0, 0%, 100%);
    --Light-Gray: hsl(0, 0%, 75%);
    --clr-Transparent-Soft-violet: hsla(0, 0%, 0%, 0.5);

    /* animation and some effects */
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);

    /* font-fam*/
    --body-font-family: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

body {
    font-family: var(--body-font-family);
    text-decoration: var(--text-dec);
    background-color: var(--white);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin-top: -30px;
}

.img-container {
    position: relative;
    width: 55rem;
    height: 25rem;
    padding: 10px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background: url("../assets/Park.jpg") center/cover fixed no-repeat;
}

.btn {
    width: 2rem;
    height: 2rem;
    border: 0.5px solid gray;
    border-radius: 50%;
    cursor: pointer;
}

.btn-left {
    position: absolute;
    top: 50%;
    left: -2%;
    transform: translateY(calc(-50%));
}

.btn-right {
    position: absolute;
    top: 50%;
    right: -2%;
    transform: translateY(calc(-50%));
}

.images-btns {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(calc(-50%));
    display: flex;
    align-items: baseline;
    gap: 0.3rem;
}

.round {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: none;
    /* cursor: pointer; */
    background-color: rgba(128, 128, 128, 0.748);
    opacity: 1;
}

.active{
    width: 10px;
    height: 10px;
    background-color: gray;
    opacity: 1; 
    transition: 0.5s ease-in-out;
}